@model BR.Soccer.Models.ViewModels.TournamentViewModel

@{
    ViewBag.Title = "Details";
}

<style type="text/css">



body {

	font-family: Arial, Helvetica, sans-serif;

    background: #fff;

}

p {

	font-size: 12px;

}



ul {

	float:left;

	clear: both;

	list-style-type: none;

	padding:0;

	margin:0;

	width:100%;

}



ul li {

	float:left;

	width:650px;

	height: auto;

	padding:0;

	margin:0;	

}





ol {

    background: #eaeeec;

    list-style-type: none;

    width: 650px;

    height: auto;

    font-size: 11px;

    padding: 10px 12px 10px 12px;

}



ol li {

    margin: 0 0 6px 0;



}



.standings tr th {

	color: #000;

	background-color: #FFFFFF;

	font-weight: bold;

}

.standings tr td {

    background-color: #FFFFFF;

    color: #003399;

    font-weight: bold;

} 



.standings td.blank {

	background-color:#fff;

} 



.standings td.team_name {

    background-color: #172d80;

    color: #fff;

    font-weight: bold;

    text-align: left;

    width:344px;

    font-size: 14px;

} 



.standings td.team_name span {

	color: #ADCCFB;

	font-size: 13px;

}



.games td.team_name {

    background-color: #A1B6F7;

    color: #142539;

    font-weight: bold;

    text-align: left;  

    font-size: 14px;  

} 



.standings td.result  {

    background-color: #333333;

    color: #FFFFFF;

    font-weight: bold;

    text-align: center;

    font-size: 14px; 

} 



.standings tr.q > td, .games tr.q > td  {

    background-color: #e6d410;

    color: #000;

    font-weight: bold;

    text-align: left;

    font-size: 14px; 

} 



.standings tr.q td span {

	color: #999;

}



.standings tr.q > td.result {

	text-align: center;

}



.games td.result {

    background-color: #000;

    color: #FFFFFF;

    font-weight: bold;

    text-align: center;

    font-size: 14px; 

} 



p { font-size: 14px; font-weight: bold; color: #cc0000; }



img { margin: 0 0 6px 0;}



h3 { font-size: 14px;}


/* added by Michal */
    table.games td.team_name, table.standings td.team_name
    {
        text-transform: uppercase;
    }

    table.standings td.team_name > span
    {
        text-transform: none;
    }

</style>


<h1>@Model.Name</h1>





<ol>

    <h2>RULES</h2>

    <li><strong>GROUP STAGE</strong> EACH TEAM PLAYS EACH OTHER ONCE. YOU GET 3 POINTS FOR A WIN, 1 POINT FOR A DRAW AND 0 FOR A LOSS. TOP 2 TEAMS FROM EACH GROUP PLUS THE 4 BEST 3RD PLACED TEAMS QUALIFY FOR ROUND 2. IF TEAMS ARE LEVEL THE TEAM WITH THE BETTER GOAL DIFFERENCE QUALIFIES. IF TEAMS ARE STILL LEVEL THEN THE TEAM WITH THE BETTER HEAD TO HEAD RECORD QUALIFIES</li>

    <li><strong>LAST 16</strong> ONE GAME. IF TEAMS ARE LEVEL THEN IT WILL GO INTO EXTRA TIME AND THEN PENALTIES IF THERE IS STILL NO WINNER</li>

    <li><strong>QUARTER FINALS</strong> ONE GAME. IF TEAMS ARE LEVEL THEN IT WILL GO INTO EXTRA TIME AND THEN PENALTIES IF THERE IS STILL NO WINNER</li>

    <li><strong>SEMI FINALS</strong> ONE GAME. IF TEAMS ARE LEVEL THEN IT WILL GO INTO EXTRA TIME AND THEN PENALTIES IF THERE IS STILL NO WINNER</li>

    <li><strong>FINAL</strong> ONE GAME. IF IT IS NOT SETTLED AT FULL TIME, TEAMS GO INTO EXTRA TIME AND THEN PENALTIES IF REQUIRED</li>

</ol>


@foreach (var stage in Model.Stages)
{
    Html.RenderPartial("_GroupStage", stage);
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.TournamentId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
